<h1>Page of <%= @album.name %> album</h1>

<h3>Tracks:</h3>

<ul>
  <% @album.tracks.each do |track| %>
    <li><%= link_to track.name, track_url(track) %></li>
  <% end %>
</ul>

<br>
<h3>Links:</h3>
<ul>
  <li><%= link_to 'New track', new_album_track_url(@album) %></li>
  <li><%= link_to 'Edit album', edit_album_url(@album) %></li>
  <li><%= link_to 'Band', band_url(@album.band) %></li>
  <li><%= link_to 'Delete album', album_url(@album), method: :delete %></li>
</ul>
